
.wrap img {
    width: 100vh;
    height: 250px;
}

.userWrap {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    background-color: gray;
}

.userPhoto {
    margin-right: 15px;
    background-color:hotpink;
    width: 100px;
    height: 100px;
}

.userInfo {
    background-color:indigo;
    color: white;
}
