.post {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    background-color: grey;
    height: 100px;
    text-align: center;

}

.imgWrap {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    height: 100%;
}

.postTxt {
    margin: auto auto 40px 80px;
}

.wrapBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;

}