.sidebar {
    grid-area: nav;
    background-color: #77a2f7;
    height: 65vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar a {
    text-decoration: none;
}



.active {
    color: gold;
}

.wrap {
    margin-top: 40px;
    text-align: center;
}

.frendsWrap {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
}